{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block content%}
    <div class="container mt-5">
    <h2 class="text-center mb-4">Parcel dan Hampers Lebaran 2025</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="../static/1.jpg" class="card-img-top" alt="Prayer Essential">
                <div class="card-body">
                    <h5 class="card-title">Prayer Essential</h5>
                    <p class="card-text">Ketulusan tak hanya dirangkai dengan kata, tapi juga bisa diungkapkan melalui hampers
yang memudahkan ibadah. Series essential ini merupakan wujud cinta, khusus untuk mereka yang paling berarti.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../static/3.jpg" class="card-img-top" alt="Sejati Signature">
                <div class="card-body">
                    <h5 class="card-title">Sejati Signature</h5>
                    <p class="card-text">Koleksi favorit Kekayu yang menciptakan kisah dari kasih sejati banyak orang
sepanjang tahun untuk setiap momen spesial. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../static/2.jpg" class="card-img-top" alt="Raya Tradition">
                <div class="card-body">
                    <h5 class="card-title">Raya Tradition</h5>
                    <p class="card-text">Merayakan Lebaran selalu membawa kehangatan yang khas. Hampers Tradition series ini menghadirkan budaya & tradisi pulang. Kurasi dari cemilan khas pengobat rindu yang dikemas menjadi hampers yang diselimuti kasih. </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}